
#fastapi
#uvicorn
#python-dotenv
#google-generativeai
#Pillow
#python-multipart
fastapi==0.115.6
uvicorn==0.34.0
pydantic==2.10.4
starlette==0.41.3
python-multipart==0.0.20
python-dotenv
pillow
google-generativeai
typing-extensions